In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("ss_data.csv")

In [3]:
df = df.drop_duplicates()

In [4]:
df.groupby("ss").count()

    sequence  length
ss
C     246472  246472
E     268581  268581
H     546006  546006

In [5]:
frag_length = [6,7,8,9,10]
for fl in frag_length:
    new_data = []
    tmp = df[df['length']>=fl]
    for i,r in tmp.iterrows():
        seq = str(r['sequence'])
        ss = r['ss']
        l = int(r['length'])
        for j in range(0,l,fl):
            frag = seq[j:j+fl]
            if len(frag) == fl:
                new_data.append([frag, ss, fl])
        
    df2 = pd.DataFrame(new_data, columns=['sequence','ss','length'])
    df2 = df2.drop_duplicates()

    df2.to_csv(f"ss_data_length_{fl}_augmented.csv", index=False)

In [7]:
frag_length = [6,7,8,9,10]
for fl in frag_length:
    data = pd.read_csv(f"ss_data_length_{fl}_augmented.csv")
    print (f"Length = {fl}")
    print (data.groupby('ss').count())

Length = 6
    sequence  length
ss
C     387694  387694
E     238906  238906
H     620122  620122
Length = 7
    sequence  length
ss
C     318717  318717
E     164432  164432
H     538207  538207
Length = 8
    sequence  length
ss
C     266350  266350
E     111783  111783
H     449269  449269
Length = 9
    sequence  length
ss
C     225571  225571
E      73705   73705
H     381357  381357
Length = 10
    sequence  length
ss
C     193274  193274
E      48378   48378
H     326051  326051