In [35]:
from Bio import SeqIO
import pandas as pd
import re

In [44]:
def process_data(seq, ss, filehandle):
    notation = ['H','E','C']  # helix, strand, coil
    non_aa = ['B','J','O','U','X','Z']
    if len(seq) != len(ss):
        print ("Length Mismatch!!!")
        return 1
    
    ss = ss.replace(" ","C")
    ss = ss.replace("-", "C")
#     print (seq)
#     print (ss)
    for stype in notation:
        for m in re.finditer(r'{}+'.format(stype), ss):
    #         print (m.start(), m.end(), m.group(0), m)
            span = m.end()-m.start()
            seq_frag = seq[m.start():m.end()]
            if not any(aa in non_aa for aa in seq_frag) and 5<span<300:
                filehandle.write (f"{seq[m.start():m.end()]},{stype},{span}\n")
    return 0

In [45]:
seq = ""
ss = ""
read_sequence = False
record_id = None
outh = open("ss_data.csv", "w")
outh.write("sequence,ss,length\n")
with open("ss.txt") as inh:
    for line in inh:
        line = line.strip("\n")
        if line.startswith(">"):
            if len(seq) and len(ss):
                rc = process_data(seq, ss, outh)
                if rc:
                    print (f"Problem in record  {record_id}")
                seq = ""
                ss = ""
            if 'sequence' in line:
                seq = ""
                read_sequence = True
            else:
                ss = ""
                read_sequence = False
            record_id = line

        elif read_sequence:
            seq += line
        else:
            ss += line
outh.close()

In [46]:
df = pd.read_csv("ss_data.csv")

In [47]:
df.shape

(5482527, 3)

In [48]:
df = df.drop_duplicates()

In [49]:
df.shape

(1061059, 3)

In [50]:
df.to_csv("ss_data.csv", index=False)

In [51]:
df.groupby("ss").describe()

      length
       count       mean        std  min  25%   50%   75%    max
ss
C   246472.0  16.045198  20.444205  6.0  7.0  10.0  17.0  299.0
E   268581.0   8.078628   2.498895  6.0  6.0   7.0   9.0   96.0
H   546006.0  13.347408   7.456348  6.0  9.0  12.0  16.0  275.0

In [52]:
df[df['length']==6].groupby("ss").describe()

     length
      count mean  std  min  25%  50%  75%  max
ss
C   40829.0  6.0  0.0  6.0  6.0  6.0  6.0  6.0
E   82039.0  6.0  0.0  6.0  6.0  6.0  6.0  6.0
H   38790.0  6.0  0.0  6.0  6.0  6.0  6.0  6.0

In [55]:
for l in [6,7,8,9,10]:
    df[df['length']==l].to_csv(f"ss_data_length_{l}.csv", index=False)

In [57]:
for l in [6,7,8,9,10]:
    print (df[df['length']==l].groupby("ss").describe())

     length
      count mean  std  min  25%  50%  75%  max
ss
C   40829.0  6.0  0.0  6.0  6.0  6.0  6.0  6.0
E   82039.0  6.0  0.0  6.0  6.0  6.0  6.0  6.0
H   38790.0  6.0  0.0  6.0  6.0  6.0  6.0  6.0
     length
      count mean  std  min  25%  50%  75%  max
ss
C   29545.0  7.0  0.0  7.0  7.0  7.0  7.0  7.0
E   59153.0  7.0  0.0  7.0  7.0  7.0  7.0  7.0
H   44365.0  7.0  0.0  7.0  7.0  7.0  7.0  7.0
     length
      count mean  std  min  25%  50%  75%  max
ss
C   23102.0  8.0  0.0  8.0  8.0  8.0  8.0  8.0
E   43425.0  8.0  0.0  8.0  8.0  8.0  8.0  8.0
H   45278.0  8.0  0.0  8.0  8.0  8.0  8.0  8.0
     length
      count mean  std  min  25%  50%  75%  max
ss
C   18673.0  9.0  0.0  9.0  9.0  9.0  9.0  9.0
E   28932.0  9.0  0.0  9.0  9.0  9.0  9.0  9.0
H   44874.0  9.0  0.0  9.0  9.0  9.0  9.0  9.0
     length
      count  mean  std   min   25%   50%   75%   max
ss
C   15737.0  10.0  0.0  10.0  10.0  10.0  10.0  10.0
E   19995.0  10.0  0.0  10.0  10.0  10.0  10.0  10.0
H   47304.0  10.0  0.0  10.0  10.0  10.0  10.0  10.0

length                                   
      count mean  std  min  25%  50%  75%  max
ss                                            
C   40829.0  6.0  0.0  6.0  6.0  6.0  6.0  6.0
E   82039.0  6.0  0.0  6.0  6.0  6.0  6.0  6.0
H   38790.0  6.0  0.0  6.0  6.0  6.0  6.0  6.0
     length                                   
      count mean  std  min  25%  50%  75%  max
ss                                            
C   29545.0  7.0  0.0  7.0  7.0  7.0  7.0  7.0
E   59153.0  7.0  0.0  7.0  7.0  7.0  7.0  7.0
H   44365.0  7.0  0.0  7.0  7.0  7.0  7.0  7.0
#         `length `                                  
*          `count mean  std  min  25%  50%  75%  max`
*    `ss`                                            
*    `C   23102.0  8.0  0.0  8.0  8.0  8.0  8.0  8.0`
*    `E   43425.0  8.0  0.0  8.0  8.0  8.0  8.0  8.0`
*    `H   45278.0  8.0  0.0  8.0  8.0  8.0  8.0  8.0`
     
     length                                   
      count mean  std  min  25%  50%  75%  max
ss                                            
C   18673.0  9.0  0.0  9.0  9.0  9.0  9.0  9.0
E   28932.0  9.0  0.0  9.0  9.0  9.0  9.0  9.0
H   44874.0  9.0  0.0  9.0  9.0  9.0  9.0  9.0
     length                                         
      count  mean  std   min   25%   50%   75%   max
ss                                                  
C   15737.0  10.0  0.0  10.0  10.0  10.0  10.0  10.0
E   19995.0  10.0  0.0  10.0  10.0  10.0  10.0  10.0
H   47304.0  10.0  0.0  10.0  10.0  10.0  10.0  10.0